
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 230, 230);


}
.head-section{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.pop{
    width: 100px;
    background-color: black;
    color: #fff;
    margin-left: 3px;
   align-items: center;
   /* padding: 2px; */
   font-weight: bold;
   padding: 4px;
   

}
p{
    margin-top: 49px;
    font-size: 20px;
    text-align: center;
}
.mar{
    font-weight: bold;
}